@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <link rel="shortcut icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width" />
    <title>Api Simulator</title>

    <!-- #region External -->
    <script src="~/Scripts/Dist/external.js"></script>
    <link href="~/Styles/Dist/external.css" rel="stylesheet" />
    <!-- #endregion -->
    <!-- #region Internal -->
    <script src="~/Scripts/Dist/internal.js"></script>
    <link href="~/Styles/Dist/internal.css" rel="stylesheet" />
    <!-- #endregion -->
    @Html.Partial("~/Views/Partial/_AdminTemplate.cshtml")
</head>
<body data-spy="scroll">

    <!-- #region navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span><link href="~/Styles/Common/Common.css" rel="stylesheet" />
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="."><img src="/favicon.png" class="favicon" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#operations">Operasyonlar</a></li>
                    <li><a href="#how-to-use">Nasıl Kullanırım?</a></li>
                    <li><a href="#template-engine">Template Engine</a></li>
                    <li><a href="#web-socket">WebSocket</a></li>
                    <li><a href="javascript:PushNotification()">Bildirim Gönder</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">@ViewBag.UserName</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #endregion -->



    <section id="first">
        <div class="jumbotron">
            <div class="container">
                <h1>Api Simulator</h1>
                <p>
                    Uygulama yaşam döngüsü içerisinde sunucu katmanında bulunan servisler tarafından gerçekleştirecek operasyonları simüle etmek için oluşturulmuştur.
                </p>
                <p>
                    <button class="btn btn-warning btn-lg" role="button" id="btn-new-operation">
                        <i class="fa fa-plus-square-o"></i>
                        Yeni Operasyon Ekle
                    </button>
                </p>
            </div>
        </div>
    </section>
    <div class="container">

        <section id="operations">
            <div class="page-header">
                <h1>Operasyonlar <small><span>Tüm operasyonlar ve detayları</span> <i class="fa fa-refresh fa-spin" data-bind="visible: InProgress"></i> </small></h1>
            </div>

            <ul class="nav nav-tabs" data-bind="foreach:Categories">
                <li role="presentation" class="deneme" data-bind="css: {'api-active-tab': $data == $root.SelectedCategory()}">
                    <a href="javascript:void(0)" data-bind="text: $data, click: $root.SelectedCategory"></a>
                </li>
            </ul>
            <br />

            <div data-bind="template: { name: 'response-template', foreach: Items }"></div>
        </section>

        @Html.Partial("~/Views/Partial/_AdminHowToUse.cshtml")

        @Html.Partial("~/Views/Partial/_AdminTemplateEngine.cshtml")

        @Html.Partial("~/Views/Partial/_AdminWebSocket.cshtml")

        <footer>
            <p>© 2016 Piri Medya A.Ş.</p>
        </footer>
    </div>
    <!-- #region log detail modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-global">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <i class="fa fa-refresh fa-spin" id="iframe-loading"></i>
                    <iframe id="iframe-modal" src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->




</body>
</html>
