@model ApiSimulation.Models.DTO.NotificationConfig

<html>
<head>
    <title>Notification</title>
    <script src="~/Scripts/Dist/external.js"></script>
    <link href="~/Styles/Dist/external.css" rel="stylesheet" />

</head>
<body style="font-family:Arial, Helvetica, sans-serif">
   
    <a href="javascript:parent.location.href='https://onesignal.com/'">OneSignal'e git.</a>


    @*
        
     @using (Html.BeginForm("NotificationSendAndUpdate", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.LabelFor(model => model.ID)
        <br />
        @Html.TextBoxFor(model => model.ID, new { @disabled = "disabled" })
        <hr />

        @Html.LabelFor(model => model.IosDeviceToken)
        <br />
        @Html.TextBoxFor(model => model.IosDeviceToken)
        <hr />

        @Html.LabelFor(model => model.AndroidDeviceToken)
        <br />
        @Html.TextBoxFor(model => model.AndroidDeviceToken)
        <hr />

        @Html.LabelFor(model => model.IosSenderCertificate) <b>@Model.IosSenderCertificateName</b>
        <br />
        <input type="file" name="PostedFile" />
        <hr />

        @Html.LabelFor(model => model.AndroidSenderToken)
        <br />
        @Html.TextBoxFor(model => model.AndroidSenderToken)
        <hr />


        @Html.LabelFor(model => model.IosDataModel)
        <br />
        @Html.TextAreaFor(model => model.IosDataModel)
        <hr />

        @Html.LabelFor(model => model.AndroidDataModel)
        <br />
        @Html.TextAreaFor(model => model.AndroidDataModel)
        <hr />

        <button type="submit" name="isSendIos" value="true">IOS</button>
        <br />
        <button type="submit" name="isSendAndroid" value="true">Android</button>

    }

    *@

</body>
</html>
